body {
    background: #000;
    font-family: "Trebuchet Ms", Helvetica, Arial, Verdana;
    font-size: 13px;
    color: #fff;
}
.title {
float:center

}

.hud {
	display:block;
}
.flexhud {
	display: flex;
	flex-direction: left;

}

.hud p {
	float:left;	
}
.menu {
	float:left;

}
#hp {
	margin-right:5px
}
.armor {


}
#wrapper {
    margin: 0 auto;
    width: 960px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    line-height: 18px;
}

a {
    color: #ccc;
}


